body {
  margin: 0;
  padding: 0;
  background-color: lightgrey;
}

#bloco-transparente {
  background-color: gray;
  color: black;
}

#bloco-vermelho {
  background-color: rgb(172, 62, 62);
  color: black;
}

#bloco-verde {
  background-color: green;
  color: black;
}

#bloco-azul {
  background-color: lightblue;
  /* cor padrão de texto (preta) */
}

#bloco-amarelo {
  background-color: lightyellow;
  color: black;
}

#bloco-preto {
  background-color: rgb(51, 43, 43);
  /* texto já está branco inline no HTML */
}
