body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: lightgray;
}

h1 {
  color:black
}

p {
  margin: 0; /* remove espaço entre linhas */
  padding: 10px;
}

/* Degradê do verde escuro ao claro */
.linha1  { background-color: #91c591; color: rgb(0, 0, 0); }
.linha2  { background-color: #385f38; color: rgb(0, 0, 0); }
.linha3  { background-color: #004d00; color: rgb(0, 0, 0); }
.linha4  { background-color: #385f38; color: rgb(0, 0, 0); }
.linha5  { background-color: #91c591; color: rgb(0, 0, 0); }
.linha6  { background-color: #ffffff; color: black; }
.linha7  { background-color: #a30101; color: black; }
.linha8  { background-color: #ff0000; color: black; }
.linha9  { background-color: #360000; color: black; }
.linha10 { background-color: #a30101; color: black; }
